<% title "#{@user.name} &laquo; Volunteer Profile" %>
<h2>Volunteer Profile &raquo; <%=h @user.name %></h2>
<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<% if current_user.allow_contact? || is_current_user_or_admin_rights?(@user.id) -%>
  <p>
    <strong>Email:</strong>
    <%=h @user.email %>
  </p>
<% end -%>
<p>
  <strong>Skills:</strong>
  <%=h @user.skills.to_sentence %>
</p>
<p>
  <strong>Interests:</strong>
  <%=h @user.interests.to_sentence %>
</p>
<%= content_tag(:p, link_to("Edit", edit_user_path(@user))) if is_current_user_or_admin_rights?(@user.id) %>
