<% content_for :main_menu do %>
  <%= main_menu('Home') %>
<% end %>

<div id="introduction" class="home">
        <h2>Welcome</h2>
        <p class="byline">We are communications and technology professionals volunteering our talents and expertise to create advertising for science. <%= link_to "Learn more", page_path('about') %>.</p> 
        <p class="byline"><strong>Join us</strong>. Contribute more than money, one hour at a time. Bring your passion, your talent. Get involved. </p>
        <%= link_to content_tag(:span, "Get Involved", :class => 'buttonsInner'), new_commitment_path, :class =>'buttons redB' %>
        <%= link_to content_tag(:span, "Learn More", :class => 'buttonsInner'), page_path('mission'), :class =>'buttons yellowB' %>
      </div>
      <div class="column w510 left">
        <h2 class="header_bg blue bottom20"><%= link_to 'Campaigns', projects_path %></h2>
        <ul id="campaigns" class="withIndicators">
          <% for project in @projects %>
          <li>
            <div class="clear">
              <h3><%= link_to project.name,  project_path(project) %></h3>
              <%= link_to content_tag(:span, "Volunteer"), project_path(project), :class => "indicators red" %>
            </div>
            <p><%= truncate_html(project.description, :length => 150, :omission => '... ') %> <%= link_to 'More', project_path(project) %></p>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="column w360 right last">
        <h2 class="header_bg yellow bottom20"><%= link_to 'webBlog', 'http://weblog.friendsofwe.org' %></h2>
        <% if @posts.entries.any? -%>
        <ul id="blog">
          <% @posts.items.each do |post| -%>
          <li>
            <h3 class="red"><%= post.last_updated.strftime("%m/%e") %> <%= link_to post.title, post.id %></h3>
            <%= truncate_html(post.content, :length => 230, :omission => "... #{link_to('More', post.id)}") %>
          </li>
          <% end -%>
        </ul>
        <% end -%>
      </div>