<% content_for :main_menu do %>
  <%= main_menu('Home') %>
<% end %>

<div id="introduction" class="home">
        <h2>Welcome</h2>
        <p class="byline">We are a new group of advertising and technology professionals contributing more than money, one hour at a time. We are volunteering our talents and professional expertise to the causes we are passionate about. From climate change to more local issues, bring your passion and talents. Get involved. </p>
        <%= link_to content_tag(:span, "Get Involved", :class => 'buttonsInner'), new_commitment_path, :class =>'buttons redB' %>
        <%= link_to content_tag(:span, "Learn More", :class => 'buttonsInner'), page_path('goals'), :class =>'buttons yellowB' %>
      </div>
      <div class="column w510 left">
        <h2 class="header_bg blue bottom20"><%= link_to 'Campaigns', projects_path %></h2>
        <ul id="campaigns" class="withIndicators">
          <% for project in @projects %>
          <li>
            <div class="clear">
              <h3><%= link_to project.name,  project_path(project) %></h3>
              <%= link_to content_tag(:span, "Volunteer"), project_path(project), :class => "indicators red" %>
            </div>
            <p><%= truncate_html(project.description, :length => 150, :omission => '... ') %> <%= link_to 'More', project_path(project) %></p>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="column w360 right last">
        <h2 class="header_bg yellow bottom20"><a href="#">weBlog</a></h2>
        <% if @posts.any? -%>
        <ul id="blog">
          <% for post in @posts -%>
          <li>            
            <h3 class="red">11/12 <%= link_to post['regular_title'], post['url_with_slug'] %></h3>
            <%= truncate_html(post['regular_body'], :length => 190, :omission => "... #{link_to('More', post['url_with_slug'])}") %>
          </li>
          <% end -%>
        </ul>
        <% end -%>
      </div>