<% title "Campaigns" %>

<% content_for :main_menu do %>
  <%= main_menu('Campaigns') %>
<% end %>

<p class="byline">As a young organization, we're focusing our resources on a few specific campaigns as we seek to demonstrate the capabilities of our volunteer model, before we begin moving forward with our more general goals.  If you find something that piques your interest, get involved! Volunteer today.</p>
        <h2 class="header_bg blue bottom20"><%= link_to "Campaigns", projects_path %></h2>
        <ul id="campaigns" class="withIndicators">
          <% for project in @projects %>
          <li>
            <div class="clear">
              <h3><%= link_to '+', "#", :class => 'plus' %> <%= link_to project.name, project_path(project), :class => 'noBg' %></h3>
              <%= link_to content_tag(:span, "Volunteer"), project_path(project), :class => "indicators red" %>
            </div>
            <p class="campaign-description"><%= truncate_html(project.description, :length => 150, :omission => '... ') %> <%= link_to 'More', project_path(project) %></p>
            <% if admin_rights? %><p><%= link_to "Show", project %> | <%= link_to "Edit", edit_project_path(project) %> | <%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></p><% end -%>
          </li>
          <% end %>
        </ul>
        <% if admin_rights? %><p><%= link_to "New Project", new_project_path %></p><% end -%>
        <div><%= will_paginate @projects %></div>
        
<% content_for :footer_scripts  do -%>
  <script type="text/javascript">
    $(document).ready(function(){
      $("p.campaign-description").hide();
      $("a.plus").toggle(function(){
		    $(this).html('&ndash;');
		  }, function () {
		    $(this).html('+');
	    });
      $("a.plus").click(function () {
        $(this).parent().parent().parent().find('p.campaign-description').toggle(300);   
      });
    });
  </script>
  
<% end -%>