<% title "Campaign &raquo; #{@project.name}" %>

<% content_for :main_menu do %>
  <%= main_menu('Campaigns') %>
<% end %>

<div class="clear">
        <h2><%=h @project.name.titleize %></h2>
        <div id="campaign-status">
          <%= link_to content_tag(:span, "Volunteer"), new_commitment_path(:project_id => @project.id ), :class => "indicators red large" %>
          <a href="#" class="indicators grey large"><span><%= @project.volunteer_count %> Members</span></a>          
        </div>
        <% if admin_rights? %><p><%= link_to "Edit", edit_project_path(@project) %> | <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |  <%= link_to "View All", projects_path %></p><% end -%>
      </div>
      <p class="byline"><%=h @project.description %></p>
      <div class="column w510 left">
        <%# I was planning on a background info section, but perhaps that's not neccessary.  :et's comeback to this.
        <div class="columnContent">
          <h2 class="header_bg blue">Background</h2>
        </div>
        %>
        <div class="columnContent">
          <h2 class="header_bg blue">Activities</h2>
          <%=h @project.activities %>
        </div>
        <div class="columnContent">
          <h2 class="header_bg green">Resources</h2>
          <ul id="resources" >
            <% if @project.links.any? -%>
              <li class="bullets">Links
                <ul>
                  <%- for link in @project.links  -%>
                  <li><%= link_to h(link.name), h(link.url), :target => 'blank' %> &ndash; <%=h link.description %></li>
                  <%- end -%>
                </ul>
              </li>
            <% end -%>
            <% if @project.documents.any? -%>
            <li class="bullets">Documents
              <ul>
                <%- for document in @project.documents  -%>
                  <li><%= link_to h(document.name), h(document.url), :target => 'blank' %> &ndash; <%=h document.description %></li>
                  <%- end -%>
              </ul>
            </li>
            <% end -%>
          </ul>
        </div>
      </div>
      <div class="column w360 right last">
        <div class="clear bottom40">
          <h2 class="header_bg red">Recruiting</h2>
          <% if @project.opportunities.any? -%>
            <ul id="recuriting-list">
              <% for opportunity in @project.opportunities -%>
              <li><%= link_to opportunity.name, new_project_opportunity_commitment_path(@project, opportunity), :class => 'greenBg' %> <%= link_to "Get involved", new_project_opportunity_commitment_path(@project, opportunity) %></li>
              <% end -%>
            </ul>
          <% else -%>
          <p>Volunteer list is currently pending.</p>
          <% end -%>
          <%= link_to content_tag(:span, "Get Involved! Click Here!", :class => 'buttonsInner'), new_project_commitment_path(@project), :class => 'buttons redB right' %>
        </div>
        
        <% if @project.commitments.confirmed.any? -%>
        <h2 class="header_bg yellow">Current Volunteers</h2>
          <ul id="volunteer-list">
            <% for commitment in @project.commitments -%>
            <li><span class="greenBg"><%= commitment.name %></span> <%= commitment.volunteer.name %></li>
            <% end -%>
          </ul>
        <% end -%>
      </div>