<% title "Campaign &raquo; #{@project.name}" %>

<div class="clear">
        <h2><%=h @project.name.titleize %></h2>
        <div id="campaign-status">
          <a href="#" class="indicators red large"><span>Volunteer</span></a>        
          <a href="#" class="indicators grey large"><span>22 Members</span></a>          
        </div>
        <% if admin_rights? %><p><%= link_to "Edit", edit_project_path(@project) %> | <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |  <%= link_to "View All", projects_path %></p><% end -%>
      </div>
      <p class="byline">We are a group of professional volunteers getting it done.  Morbi dolor elit, pulvinar quis, porttitor in, lobortis id, felis. Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit massa vitae elit. Donec consectetuer augue at leo. Sed tincidunt pede sed libero. Donec urna.  Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit.</p>
      <div class="column w510 left">
        <div class="columnContent">
          <h2 class="header_bg blue">Background</h2>
          <%=h @project.description %>
        </div>
        <div class="columnContent">
          <h2 class="header_bg blue">Activities</h2>
          <%=h @project.activities %>
        </div>
        <div class="columnContent">
          <h2 class="header_bg green">Resources</h2>
          <ul id="resources" >
            <% if @project.links.any? -%>
              <li class="bullets">Links
                <ul>
                  <%- for link in @project.links  -%>
                  <li><%= link_to h(link.name), h(link.url), :target => 'blank' %> &ndash; <%=h link.description %></li>
                  <%- end -%>
                </ul>
              </li>
            <% end -%>
            <li class="bullets">Documents
              <ul>
                <li><a href="#">Project Brief</a> &ndash; This is a short description of this document.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="column w360 right last">
        <div class="clear bottom40">
        <% if @project.opportunities.any? -%>
          <h2 class="header_bg red">Recruting</h2>
          <ul id="recuriting-list">
            <% for opportunity in @project.opportunities -%>
            <%# TODO FIX LINK TO ACTUAL VOLUNTEERING PAGE %>
            <li><%= link_to opportunity.name, '#', :class => 'greenBg' %></li>
            <% end -%>
          </ul>
          <%= link_to content_tag(:span, "Get Involved! Click Here!", :class => 'buttonsInner'), '#', :class => 'buttons redB right' %>
        </div>
        <% end -%>
        <% if @project.commitments.confirmed.any? -%>
        <h2 class="header_bg yellow">Current Volunteers</h2>
          <ul id="volunteer-list">
            <% for commitment in @project.commitments -%>
            <li><%= link_to commitment.name, '#', :class => 'greenBg' %> 
              <%= link_to commitment.volunteer.name, user_path(commitment.volunteer) %></li>
            <% end -%>
          </ul>
        <% end -%>
      </div>