<% title "Campaign &raquo; #{@project.name}" %>

<% content_for :main_menu do %>
  <%= main_menu('Campaigns') %>
<% end %>

<div class="clear">
        <h2><%=h @project.name.titleize %></h2>
        <div id="campaign-status">
          <%= link_to content_tag(:span, "Volunteer"), new_commitment_path(:project_id => @project.id ), :class => "indicators red large" %>
          <a href="#" class="indicators grey large"><span><%= @project.volunteer_count %> Members</span></a>          
        </div>
        <% if admin_rights? %><p><%= link_to "Edit", edit_project_path(@project) %> | <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |  <%= link_to "View All", projects_path %></p><% end -%>
      </div>
      <p class="byline">We are a group of professional volunteers getting it done.  Morbi dolor elit, pulvinar quis, porttitor in, lobortis id, felis. Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit massa vitae elit. Donec consectetuer augue at leo. Sed tincidunt pede sed libero. Donec urna.  Pellentesque elementum posuere mauris. Quisque tempor mi vel dolor. Ut suscipit.</p>
      <div class="column w510 left">
        <div class="columnContent">
          <h2 class="header_bg blue">Background</h2>
          <%=h @project.description %>
        </div>
        <div class="columnContent">
          <h2 class="header_bg blue">Activities</h2>
          <%=h @project.activities %>
        </div>
        <div class="columnContent">
          <h2 class="header_bg green">Resources</h2>
          <ul id="resources" >
            <% if @project.links.any? -%>
              <li class="bullets">Links
                <ul>
                  <%- for link in @project.links  -%>
                  <li><%= link_to h(link.name), h(link.url), :target => 'blank' %> &ndash; <%=h link.description %></li>
                  <%- end -%>
                </ul>
              </li>
            <% end -%>
            <li class="bullets">Documents
              <ul>
                <li><a href="#">Project Brief</a> &ndash; This is a short description of this document.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="column w360 right last">
        <div class="clear bottom40">
        <% if @project.opportunities.any? -%>
          <h2 class="header_bg red">Recruiting</h2>
          <ul id="recuriting-list">
            <% for opportunity in @project.opportunities -%>
            <li><%= link_to opportunity.name, new_project_opportunity_commitment_path(@project, opportunity), :class => 'greenBg' %> <%= link_to "Get involved", new_project_opportunity_commitment_path(@project, opportunity) %></li>
            <% end -%>
          </ul>
          <%= link_to content_tag(:span, "Get Involved! Click Here!", :class => 'buttonsInner'), new_project_commitment_path(@project), :class => 'buttons redB right' %>
        </div>
        <% end -%>
        <% if @project.commitments.confirmed.any? -%>
        <h2 class="header_bg yellow">Current Volunteers</h2>
          <ul id="volunteer-list">
            <% for commitment in @project.commitments -%>
            <li><span class="greenBg"><%= commitment.name %></span> <%= commitment.volunteer.name %></li>
            <% end -%>
          </ul>
        <% end -%>@proje
      </div>