<% title "Opportunity" %>

<p>
  <strong>Name:</strong>
  <%=h @opportunity.name %>
</p>
<p>
  <strong>Project:</strong>
  <%=h @opportunity.project_id %>
</p>

<p>
  <%= link_to "Edit", edit_opportunity_path(@opportunity) %> |
  <%= link_to "Destroy", @opportunity, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", opportunities_path %>
</p>
